In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

import matplotlib.ticker as ticker

In [6]:
import matplotlib.ticker as ticker

In [7]:
import matplotlib.plticker as plticker

ModuleNotFoundError: No module named 'matplotlib.plticker'

In [8]:
import matplotlib.ticker as plticker

In [9]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [10]:
from scikit-learn.model_selection import train_test_split

SyntaxError: invalid syntax (2126403833.py, line 1)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
from sklearn.linear_model import LogisticRegression

In [22]:
world_cup = pd.read_csv("D:/JN/dataset/World_Cup_2019_Dataset.csv")

In [23]:
results = pd.read_csv("D:/JN/dataset/results.csv")

In [24]:
world_cup.head()

,Team,Group,Previous \r\nappearances,Previous \r\ntitles,Previous\r\n finals,Previous\r\n semifinals,Current \r rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [25]:
results.head()

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [26]:
df = results[(results["Team_1"] == "India") | (results["Team_2"] == "India")]

In [27]:
india = df.iloc[:]

In [33]:
india.head()

        date      Team_1     Team_2     Winner     Margin Ground  match_year
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka           0
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka           0
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka          10
5  11-Jan-10  Bangladesh      India      India  6 wickets  Dhaka          10
6  13-Jan-10       India  Sri Lanka  Sri Lanka  4 wickets  Dhaka          10

In [36]:
year = []
for row in india['date']:
    year.append(int(row[7:]))
india ['match_year']= year
india_2010 = india[india.match_year >= 10]
india_2010.count()

date          151
Team_1        151
Team_2        151
Winner        151
Margin        142
Ground        151
match_year    151
dtype: int64

In [37]:
worldcup_teams = ['England', ' South Africa', '', 'West Indies', 'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan',

'Australia', 'Bangladesh', 'India'] 
df_teams_1 = results[results['Team_1'].isin(worldcup_teams)]
df_teams_2 = results[results['Team_2'].isin(worldcup_teams)]

df_teams = pd.concat((df_teams_1, df_teams_2))

df_teams.drop_duplicates()

df_teams.count()

date      1445
Team_1    1445
Team_2    1445
Winner    1445
Margin    1368
Ground    1445
dtype: int64

In [38]:
df_teams.head()

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [39]:
df_teams_2010 = df_teams.drop(['date', 'Margin', 'Ground'], axis=1)
df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [40]:
df_teams_2010 = df_teams_2010.reset_index(drop=True) 
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_1, 'winning_team']=1 
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010. Team_2, 'winning_team']=2 
df_teams_2010 = df_teams_2010.drop(['winning_team'], axis=1)
df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [41]:
final = pd.get_dummies(df_teams_2010, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])
X = final.drop(['Winner'], axis=1)
y = final ["Winner"]

# Divide the data for training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [42]:
final.head()

,Winner,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,Sri Lanka,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,Sri Lanka,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,India,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Sri Lanka,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,India,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [43]:
logreg = LogisticRegression()

logreg.fit(X_train, y_train)

score = logreg.score(X_train, y_train) 
score2 = logreg.score (X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))

print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.691
Test set accuracy:  0.668